@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700,400italic);

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
}

/* Changes font for pure grids */
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Maven Pro', sans-serif;
}

html { height: 100%; }

body {
    line-height: 1.6em;
    color: #7f8c8d;
    font-size: 13px;
    height: calc(100% - 62px);
    background-image: url('/img/bg/crossword.png');
    background-repeat: repeat;
    background-position: top left;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #033649;
}

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    height: 62px;
}

.home-menu.pure-menu-open {
    background: #007C41;
}

.pure-menu.pure-menu-open.pure-menu-fixed {
    border-bottom: none;
    /* The z-index puts it above the scrolling effect below */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: whitesmoke;
    font-weight:bold;
    font-size:150%;
    float:left;
}

.home-menu ul {
    float: right;
}

.home-menu li a {
    color:whitesmoke;
    font-size:120%;
}

.home-menu li.pure-menu-selected a {
    color: #EBE30C;
}

.home-menu li a:hover {
    background: none;
}

/* We wrap everything so that it's offset by menu height */
.wrap {
    margin-top: 62px;
    height: 100%;
}

.content-wrapper {
    min-height: calc(100% - 57px);
    padding: 1em;
}

.is-centered {
    text-align: center;
}

.l-box {
    padding: 1em;
}

/* This is the class used for the footer */
.footer {
    background: #111;
}

@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }
    /* We want to give the content area some more padding */
    .content {
        padding: 1em;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
    .home-menu ul {
        float: right;
    }

    /* We increase the height of the splash-container */
    /*    .splash-container {
            height: 500px;
        }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 70%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }
}
